.button {
  box-shadow: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.button_type_login {
  width: 76px;
  height: 32px;
  background: #2be080;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
}

.button_type_account {
  text-align: start;
  text-indent: 12px;
  font-size: 13px;
  line-height: 12px;
  width: 100px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  position: relative;
}

.button_type_account::after {
  content: "";
  background-image: url("../../../images/account.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 3px;
  right: 3px;
}

.button_type_promo {
  width: 129px;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  box-sizing: border-box;
  position: relative;
}

.button_type_promo::before {
  content: "";
  opacity: 0.6;
  border: 1px solid #ffffff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.button_type_search {
  width: 58px;
  height: 34px;
  font-size: 11px;
  line-height: 18px;
  color: #ffffff;
  background: #3456f3;
  border-radius: 48px;
  flex: 0 0 auto;
}

.button_type_save-movie {
  width: 100px;
  height: 29px;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  color: #000000;
  background: #F9F9F9;
  border-radius: 30px;
}

.button_type_saved-movie {
  width: 100px;
  height: 29px;
  background:  #FF3055;
  background-image: url("../../../images/btn-check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.button_type_delete {
  width: 100px;
  height: 29px;
  background: #F9F9F9;
  background-image: url("../../../images/delete-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.button_type_more-cards {
  width: 320px;
  height: 36px;
  background: #F9F9F9;
  border-radius: 6px;
  font-size: 12px;
  line-height: 16px;
  font-size: 12px;
  line-height: 15px;
}

