.navigation {
  display: flex;
  color: #000000;
}

.navigation_theme_light {
  color:#FFFFFF;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  column-gap: 16px;
}

.navigation__link {
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
}

.navigation__link_active {
  font-weight: 500;
}
