.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  column-gap: 20px;
}

.social-links_type_footer {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.social-links__link {
  display: flex;
  text-decoration: none;
  color: inherit;
  transition: opacity .2s linear, transform .2s linear;

}

.social-links__link:hover {
  opacity: .7;
}

.social-links__link:active {
  transform: scale(.97);
}

.social-links__link:focus {
  outline: .8px solid #A0A0A0;
}
