.social-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  column-gap: 20px;
}

.social-links_type_footer {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.social-links__link {
  display: flex;
  text-decoration: none;
  color: inherit;
}